/* CSS Stylesheet for HEAT Manual*/

h3.subtitle {
  line-height: 40px;
  color: black;
}

h1{
  margin-top:10px;
  margin-bottom:10px;
  color: #008dc9;
  line-height: 40px;
}

h2, h3, h4, h5{
  margin-top:6px;
  margin-bottom:5px;
}

body{
  font-size: 16px;
}

div {
  background-color: rgba(255, 255, 255, 0.2)   /* 35% opaque white */;
  padding: 0.2em;
}

.infobox1 {
  padding: 1em 4em 1em 4em;
  margin-bottom: 10px;
  border: 2px solid white;
  border-radius: 10px;
  background: #008dc9 5px center/3em no-repeat;
  color: white;
}

.infobox2 {
  padding: 1em 4em 1em 4em;
  margin-bottom: 10px;
  border: 2px solid white;
  border-radius: 10px;
  background: #f5f5f5 5px center/3em no-repeat;
}

.caution {
  background-image: url("images/box.png");
}
